* {
    box-sizing: border-box;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
